.footer {
  position: fixed;
  left: 10px;
  bottom: 0;
  font-weight: bold;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(245, 245, 245, .3); 
  margin-left: -20px; 
  padding-right: 20px; 
}

.footerLink{
  padding-left: 20px; 
}

.footerLink:hover{
  color: gray; 
  cursor: pointer;
}

@media (max-width: 450px) {
  .footer {
    display: none; 
  } 
} 
