.navBar{
  height: 60px; 
  width: auto;  
  background-color: rgba(251, 148, 62, .9);
  padding-bottom: 1em;
  position: sticky; 
}

.title {
  float: left; 
  margin-left: 20px; 
  margin-top: .5em; 
  font-size:35px;
  font-family: 'Roboto Condensed', sans-serif;
}

.searchIcon {
  font-size:35px;
  float: right; 
  margin-top: .5em; 
  margin-right: 1em; 
}

.searchIcon:hover{
  cursor: pointer; 
  color:gray;
}

.tagline {
  margin-left: .75em; 
  font-size: 20px;
  font-weight: normal; 
  font-family: 'Roboto Condensed', sans-serif;
}



