.profileList {
  margin-top: 84px; 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 84px; 
}

.title{
  font-size: 45px;
  font-weight: bold;
  text-align: center; 
  margin-bottom: 20px; 
  text-shadow: 1px 1px gray;
}

@media screen and ( max-width: 950px ) {
  .title { 
    font-size: 30px; 
  }
}